*{
    margin: 0;
    padding: 0;
    background-color: black;
}
.logo{
    width: 150px;
   transition: height 2s, width 1s;
       }
       .logo:hover{
           width: 200px;
       }

li {
    display: inline-block;
    height: 100px;
}
 .MenuSuperior {
    list-style: none;
    text-align: center;
}

.MenuSuperior li {
    display: inline;
}

.MenuSuperior a{
    text-decoration: none;
    color: goldenrod;
    font-weight: 700;
    font-family: "Freeman", sans-serif;
    padding: 2rem;
    font-size: 25px;
    transition: height 2s, width 1s;
}

.MenuSuperior a:hover{
    font-size: 35px;

}


.galeria{
    background-color: white;
    margin: 10px 35px;
    box-shadow: 0 4px 8px 0 goldenrod, 0 6px 20px 0 white;
    float: left;
    width: 550px;
}

.galeria img{
    width: 100%;
    height: auto;
}

.galeria:hover{
    border: 1px solid yellow ;
    transform: rotate(-3deg);
}

.pie{
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px goldenrod ; 
    padding: 10px;
}

@media(min-width:480px) and (max-width:768px){
    .MenuSuperior a{
        text-decoration: none;
        color: goldenrod;
        font-weight: 700;
        font-family: "Freeman", sans-serif;
        padding: 0.3rem;
        margin: 19px;
        font-size: 25px;
        transition: height 2s, width 1s;
    }

    .galeria {
        width: calc(100% - 20px); 
    }
}


@media(max-width:480px){
    .MenuSuperior a{
        text-decoration: none;
        color: goldenrod;
        font-weight: 700;
        font-family: "Freeman", sans-serif;
        padding: 0.3rem;
        margin: 19px;
        font-size: 25px;
    }

    
    .galeria {
        width: calc(100% - 20px);
    }
}